body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;    
    background-color: #042bd83b;
}
.logo {
    display: block;
    margin: 20px auto; /* Center the logo */
    height: 100px; /* Set a specific height for the logo */
    width: auto; /* Maintain aspect ratio */
}
header {
    background: linear-gradient(rgb(8, 8, 78),rgb(151, 13, 13));
    color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #b10000d3;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 20px;
    border-color: aliceblue;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background: #ce0000;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;    
    padding: 10px 20px;
    background: #151e27;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background: #042bd8;
}